<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>santa cruz happening</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<div id="wrapper">
		<nav>
			<ul>
				<li><a href="concerts"><img src="music.svg" height="150px" width="150px"></a></li>
				<li><a href="#"><img src="video.svg" height="150px" width="150px"></a></li>
				<li><a href="#"><img src="news.svg" height="150px" width="150px"></a></li>
	</div>
</body>
</html>