body {
  font-family: 'Raleway', sans-serif;
  background-color: #2a84bf;
  /*line-height: 1;*/
}
#header {
  color: #ecf0f1;
  text-align: center;
}
h1 {
  /*font-family: 'Lobster', cursive;*/
  font-size: 60px;
  color: #ecf0f1;
}
#header p {
  font-size: 20px;
}
button.change-date {
  width: 50px;
  height: 50px;
  padding: 0;
}
#hidden-date-input {
  display: none;
}
a:hover {
  text-decoration: none;
}
.glyphicon-calendar {
  margin-left: 9px;
}
.table>thead>tr>th {
  border-bottom: 0;
}
div.concert-wrapper {

}
div.table-wrapper {
}
td.title-cell {
  font-weight: 600;
}
div.day-wrapper {


}
h4 {
  color: #ecf0f1;
  font-size: 24px;
}
table.concerts-table {
  width: 100%;
}
table.concerts-table th {
  font-weight: 400;
}
div.calendar-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}
#header {
  position: relative;
}



.content-wrapper {
  max-width: 650px;
  margin: 0 auto;
}
.concert-wrapper {
  margin: 4px 0;
}
.concert-title {
  font-size: 18px;
  color: #ecf0f1;
}
.concert-title a {
  color: #ecf0f1;
  display: inline-block;
  background-color: #1abc9c;
  padding: 0 10px;
}
.concert-venue {
  font-size: 16px;
  margin-left: 15px;
}
.concert-description {
  color: #7f8c8d;
}
.info-row {
  border-left: 4px solid #1abc9c;
  background-color: #ecf0f1;
  margin-left: 0;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.info-row div {
  padding-right: 0;
}

.none {

}