body {
  font-family: 'Lato', sans-serif;
}
table {
	background-color: white;
}
h1 {
	/*font-family: 'Lobster', cursive;*/
	font-size: 60px;
  font-weight: 500;
}
h4.date {
  font-weight: 700;
}
div.concert-wrapper {
  background-color: red;
  padding-left: 30px;
}
div.table-wrapper {
	background-color: white;
}
th.concert {
  width: 25%;
}
th.venue {
  width: 15%;
}
th.description {
  width: 35%;
}
th.time {
	width: 10%;
}
th.more {
  width: 15%;
}
td.title-cell {
  font-weight: 600;
}
table.concerts-table {
  width: 100%;
}
table.concerts-table th {
  font-weight: 400;
}
#content-wrapper {
  background-color: blue;
}

@media (max-width: 1000px) {
  th.concert {
    min-width: 0;
  }
  th.date {
    min-width: 0;
  }
  th.venue {
    min-width: 0;
  }
  th.more {
    min-width: 80px;
  }
}

@media (max-width: 730px) {
  h1 {
    font-size: 50px;
  }
  input.form-control {
    
  }
  .description {
    display: none;
  }
}